<div class="container">

  <h3>{{name}}</h3><br>

  <p><b>Phone:</b></p>
  <p><em>{{phone}}</em></p>

  <p><b>Location:</b></p>
  <p><em>{{location}}</em></p>

  <p><b>Description:</b></p>
  <p><em>{{description}}</em></p><br><br>

  <p>{{#link-to 'edit_vendor' this}}Edit This Vendor{{/link-to}}</p>
  <p>{{#link-to 'vendors'}}Return to Vendors List{{/link-to}}</p>

</div>



