<!DOCTYPE html>
<html>
<head>
  <title>ERAU SCIC Vendor Database</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
<h1>Sport Compact Import Club Vendor Database</h1><br>
<em>Embry-Riddle Aeronautical University - Daytona Beach, Florida</em>
<p>=================================================</p><br>
<p>The SCIC Vendor Database is a resource for all automotive enthusiasts in the Daytona Beach area to share tips on the best shops, mechanics, and suppliers. Please fill out all parts of the form.</p><br><br>

</div>


</body>
</html>



